@model DetailAddressDto
<div class="card-header">
    <h3>Kullanıcı Adres Bilgileri</h3>
</div>
<div class="card-body">
    <a asp-area="Admin" asp-controller="Address" asp-action="CreateAddress" asp-route-userId="@Model.UserId" class="btn btn-outline-primary mb-2">Adres Ekle</a>
    <table class="table border-bottom">
        <thead>
        <tr>
            <th class="border-0" style="width: 30%;"></th>
            <th class="border-0" style="width: 70%;"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="border-0">
                <label asp-for="FirstName"></label>
            </td>
            <td class="text-muted border-0">@Model.FirstName</td>
        </tr>
        <tr>
            <td>
                <label asp-for="LastName"></label>
            </td>
            <td class="text-muted">@Model.LastName</td>
        </tr>
        <tr>
            <td class="border-0">
                <label asp-for="Email"></label>
            </td>
            <td class="text-muted border-0">@Model.Email</td>
        </tr>
        <tr>
            <td>
                <label asp-for="PhoneNumber"></label>
            </td>
            <td class="text-muted">@Model.PhoneNumber</td>
        </tr>
        <tr>
            <td>
                <label asp-for="AddressTitle"></label>
            </td>
            <td class="text-muted">@Model.AddressTitle</td>
        </tr>
        <tr>
            <td>
                <label asp-for="AddressType"></label>
            </td>
            <td class="text-muted">@Model.AddressType.GetEnumDescription()</td>
        </tr>
        <tr>
            <td>
                <label asp-for="CityName"></label>
            </td>
            <td class="text-muted">@Model.CityName</td>
        </tr>
        <tr>
            <td>
                <label asp-for="DistrictName"></label>
            </td>
            <td class="text-muted">@Model.DistrictName</td>
        </tr>
        <tr>
            <td>
                <label asp-for="NeighborhoodOrVillageName"></label>
            </td>
            <td class="text-muted">@Model.NeighborhoodOrVillageName</td>
        </tr>
        <tr>
            <td>
                <label asp-for="StreetName"></label>
            </td>
            <td class="text-muted">@Model.StreetName</td>
        </tr>
        <tr>
            <td>
                <label asp-for="PostalCode"></label>
            </td>
            <td class="text-muted">@Model.PostalCode</td>
        </tr>
        <tr>
            <td>
                <label asp-for="AddressDetails"></label>
            </td>
            <td class="text-muted">@Model.AddressDetails </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Note"></label>
            </td>
            <td class="text-muted">@Model.Note </td>
        </tr>
        <tr>
            <td>
                <label asp-for="DefaultAddress"></label>
            </td>
            <td class="text-muted">@(Model.DefaultAddress? "Evet":"Hayır")</td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <a asp-area="Admin" asp-controller="Account" asp-action="Profile" asp-route-id="@Model.UserId" class="btn btn-primary btn-sm ml-2">Profil</a>
        <a asp-area="Admin" asp-controller="Address" asp-action="UpdateAddress" asp-route-addressId="@Model.Id" class="btn btn-success btn-sm ml-2">Düzenle</a>
        <button type="button" id="addressdeletebutton" class="btn btn-danger btn-sm ml-2" data-id="@Model.Id">Sil</button>
    </div>
</div>