@model UserSummaryCardDto
<div class="card mb-4">
    <div class="card-body text-center">
        @if (ViewBag.UserImageCount==0)
        {
            <img src="~/admin/images/avatar/unspecifieduseravatar.png" alt="avatar"
                 id="profilPhoto" class="rounded-circle img-fluid" style="width: auto;">
            <p><a asp-area="Admin" asp-controller="UserImage" asp-action="CreateUserImage" asp-route-userId="@Model.Id" class="btn btn-outline-warning mr-2 rounded" >Profil Fotoğrafı Ekle</a></p>
        }
        else if (ViewBag.UserImageCount>0 && ViewBag.UserImageProfilImagePath==null)
        {
            <img src="~/admin/images/avatar/unspecifieduseravatar.png" alt="avatar"
                 id="profilPhoto" class="rounded-circle img-fluid" style="width: auto;">
            <p><button type="button" class="btn btn-outline-warning mr-2 rounded" data-toggle="modal" data-target="#userImageModal">Profil Fotoğrafı Seç</button></p>
        }
        else if( ViewBag.UserImageCount>0 && ViewBag.UserImageProfilImagePath!=null)
        {
            <img src="@ViewBag.UserImageProfilImagePath" alt="avatar"
                 id="profilPhoto" class="rounded-circle img-fluid" style="width:auto;">
            <p><button type="button" class="btn btn-outline-warning mr-2 rounded" data-toggle="modal" data-target="#userImageModal">Profil Fotoğrafı Değiştir</button></p>
        }
        <h5 class="my-3">@Model.FirstName @Model.LastName</h5>
        <p class="text-muted mb-1">@Model.UserName</p>
        <p class="text-muted mb-1">@Model.Email</p>
        <p class="text-muted mb-4">@Model.DefaultAddressDetail</p>
        <div class="d-flex justify-content-center mb-2">
            <button type="button" class="btn btn-primary mr-2 rounded">Takip Et</button>
            <button type="button" class="btn btn-outline-primary ms-1 rounded">Mesaj Gönder</button>
        </div>
    </div>
</div>
@if (@ViewBag.UserImageList != null)
{
    <div id="userImageModalForm">
        <partial name="UserImage/PartialViews/_UserImageSelectProfilModalPartial" model="@ViewBag.UserImageList"/>
    </div>
}
