<div class="user-area dropdown" style="background-color:turquoise ;">
    <a href="#" class="d-flex justify-content-between dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span  style="text-decoration:underline;line-height: 40px;" class="font-weight-bold">@ViewBag.FullName</span>
        <img class="user-avatar rounded-circle ml-2" src="@ViewBag.ProfilPhoto" alt="User Avatar">
    </a>
    <div class="user-menu dropdown-menu">
        <a asp-area="Admin" asp-controller="Account" asp-action="Profile" asp-route-Id="@ViewBag.UserId" class="nav-link"><i class="fa fa-user"></i> Profil</a>
        <a asp-area="Admin" asp-controller="Account" asp-action="EditProfile" asp-route-Id="@ViewBag.UserId" class="nav-link"><i class="fa fa-user"></i> Profil Güncelle</a>
        <a asp-area="Admin" asp-controller="Account" asp-action="EditPasswordAccount" asp-route-Id="@ViewBag.UserId" class="nav-link"><i class="fa fa-pencil-square"></i> Şifre Güncelle</a>
        <a class="nav-link" href="#"><i class="fa fa-user"></i> Bildirimler <span class="count">13</span></a>
        <button id="logoutButton" class="nav-link border-0 btn-outline-danger w-100 text-left font-weight-bold"><i class="fa fa-power-off"></i> Çıkış Yap</button>
    </div>
</div>
