@model IList<UserImageDto>
<div class="card">
    <div class="card-header">
        <h3>Kullanıcı Fotoğrafları</h3>
    </div>
    <div class="card-body">
        <div class="row column4 graph">
            <!-- Gallery section -->
            <div class="col-md-12">
                <a asp-area="Admin" asp-controller="UserImage" asp-action="CreateUserImage" asp-route-userId="@ViewBag.UserId" class="btn btn-outline-primary mb-2">Fotoğraf Ekle</a>
                <div class="white_shd full margin_bottom_30">
                    <div class="full gallery_section_inner padding_infor_info">
                        <div class="row">
                            @foreach (var image in Model)
                            {
                                <div class="col-12 margin_bottom_30">
                                    <div class="column">
                                        <a data-fancybox="gallery" href="@image.ImagePath">
                                            <img class="img-responsive" src="@image.ImagePath" alt="@image.ImageAltText" width="100%"/>
                                        </a>
                                    </div>
                                    <div class="heading_section d-flex justify-content-center py-2">
                                        <button type="button" class="btn btn-outline-success mr-2 rounded userImageSetProfilButton" data-userid="@image.UserId" data-id="@image.Id">Profil Yap</button>
                                        <button type="button" class="btn btn-outline-danger mr-2 rounded userImageDeleteProfilButton" data-userid="@image.UserId" data-id="@image.Id">Sil</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>