@model RegisterDto
<div class="modal fade" id="userCrateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="createModalForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myCreateModalLabel">Kullanıcı Ekle</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body" id="createModalFormModalBody">
                    <div asp-validation-summary="All" class="text-danger ml-4"></div>
                    <div class="form-group">
                        <label asp-for="@Model.FirstName" class="control-label"></label>
                        <input asp-for="@Model.FirstName" id="createFirstName" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.LastName" class="control-label"></label>
                        <input asp-for="@Model.LastName" id="createLastName" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.UserName" class="control-label"></label>
                        <input asp-for="@Model.UserName" id="createUserName" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Email" class="control-label"></label>
                        <input asp-for="@Model.Email" type="email" id="createEmail" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Password" class="control-label"></label>
                        <input asp-for="@Model.Password" type="password" id="createPassword" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.RePassword" class="control-label"></label>
                        <input asp-for="@Model.RePassword" type="password" id="createRePassword" class="form-control"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btnAdd">Ekle</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>